Ext.onReady(function() {

Ext.getCmp('left').items.items[4].expand();

var feedback=Ext.create('Ext.panel.Panel', {
    title: 'Hello',
    layout: 'fit',
	autoScroll: true,
    bodyStyle:{"background-color":"#CCCCCC"},
    html: '<div id="picsection"><div class="pic">test word</div><div class="pic"><div class="hi"></div>test</div><div class="pic"><div class="text">center</div></div></div><div id="notice">fat should move</div>'
});
var work_space = Ext.getCmp('center');
work_space.removeAll();
work_space.add(feedback);
work_space.doLayout();

})
$(function () {
    $('#pie').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Browser market shares at a specific website, 2010'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                ['Firefox',   45.0],
                ['IE',       26.8],
                {
                    name: 'Chrome',
                    y: 12.8,
                    sliced: true,
                    selected: true
                },
                ['Safari',    8.5],
                ['Opera',     6.2],
                ['Others',   0.7]
            ]
        }]
    });
});
