Ext.onReady(function() {

Ext.getCmp('left').items.items[3].expand();
<% if false %>
Ext.create('Ext.data.Store', {
    storeId:'simpsonsStore',
    fields:['name', 'email', 'phone'],
    data:{'items':[
        { 'name': 'Lisa',  "email":"lisa@simpsons.com",  "phone":"555-111-1224"  },
        { 'name': 'Bart',  "email":"bart@simpsons.com",  "phone":"555-222-1234" },
        { 'name': 'Homer', "email":"home@simpsons.com",  "phone":"555-222-1244"  },
		{ 'name': 'Homer', "email":"home@simpsons.com",  "phone":"555-222-1244"  },
        { 'name': 'Marge', "email":"marge@simpsons.com", "phone":"555-222-1254"  }
    ]},
    proxy: {
        type: 'memory',
        reader: {
            type: 'json',
            root: 'items'
        }
    }
});

var devicegrids=Ext.create('Ext.grid.Panel', {
    title: 'Simpsons',
    store: Ext.data.StoreManager.lookup('simpsonsStore'),
    columns: [
        { header: 'Name',  dataIndex: 'name' },
        { header: 'Email', dataIndex: 'email', flex: 1 },
        { header: 'Phone', dataIndex: 'phone' }
    ],
    layout: 'fit',
});
var tabledata='<table id="pattern-style-b" summary="Meeting Results"><thead><tr><th scope="col">Nation</th><th scope="col">Capital</th><th scope="col">Language</th><th scope="col">Unique</th></tr></thead><tbody><tr><td>Japan</td><td>Tokyo</td><td>Japanese</td><td>Karate</td></tr><tr><td>South Korea</td><td>Seoul</td><td>Korean</td><td>Ginseng</td></tr><tr><td>China</td><td>Beijing</td><td>Mandarin</td><td>Kung-Fu</td></tr><tr><td>Indonesia</td><td>Jakarta</td><td>Indonesian</td><td>Batik</td></tr></tbody></table>'
<% end %>
var tabledata='<table id="one-column-emphasis-rank"><colgroup><col class="oce-first-rank" /></colgroup><thead><tr><th scope="col">统计项目</th><th scope="col">记录</th></tr></thead><tbody><tr><td>个人成绩</td><td>20</td></tr><tr><td>班级平均成绩</td><td>50</td></tr><tr><td>班内成绩排名</td><td>7</td></tr></tbody></table>'
var rank=Ext.create('Ext.panel.Panel', {
    title: '<%= t('person rank') %>',
    layout: 'fit',
	autoScroll: true,
    bodyStyle:{"background-color":"#fff"},
    html: tabledata,
});
var work_space = Ext.getCmp('center');
work_space.removeAll();
work_space.add(rank);
work_space.doLayout();


})
