<script>
Ext.onReady(function() {

Ext.getCmp('left').items.items[3].expand();
var tabledata='<table id="one-column-emphasis-rank"><colgroup><col class="oce-first-rank" /></colgroup><thead><tr><th scope="col">统计项目</th><th scope="col">记录</th></tr></thead><tbody><tr><td>个人成绩</td><td>20</td></tr><tr><td>班级平均成绩</td><td>50</td></tr><tr><td>班内成绩排名</td><td>7</td></tr></tbody></table>'
var rank=Ext.create('Ext.panel.Panel', {
    title: '<%= t('person rank') %>',
    layout: 'fit',
	autoScroll: true,
    bodyStyle:{"background-color":"#fff"},
    html: tabledata,
});
var work_space = Ext.getCmp('center');
work_space.removeAll();
work_space.add(rank);
work_space.doLayout();

})

</script>
<script>
$(function(){
	$("#rank-management a").removeClass("selected");
	$("#rank-management a:first").addClass("selected");
})
</script>
