testsort
<div id="picsection"><div class="picsmall"><div class="front"><table id="one-column-emphasis"><colgroup><col class="oce-first" /></colgroup><thead><tr><th scope="col">统计项目</th><th scope="col">记录</th></tr></thead><tbody><tr><td>中等运动强度时间</td><td>20.3分钟</td></tr><tr><td>高等运动强度时间</td><td>50.2</td></tr><tr><td>中高等运动强度时间</td><td>25.4</td></tr></tbody></table></div><div class="back">back</div></div><div class="piclarge"><div class="front"><table id="one-column-emphasis"><colgroup><col class="oce-first" /></colgroup><thead><tr><th scope="col">指标</th><th scope="col">结果</th></tr></thead><tbody><tr><td>体力活动得分</td><td>20.3</td></tr><tr><td>阳光体育一小时</td><td>50.2分钟</td></tr><tr><td>中等以上运动强度</td><td>25.4</td></tr><tr><td>大课间有效运动时间</td><td>50.2</td></tr><tr><td>小课间有效运动时间</td><td>25.4</td></tr><tr><td>体育课有效运动时间</td><td>25.4</td></tr><tr><td>课外活动有效运动时间</td><td>25.4</td></tr></tbody></table></div><div class="back">back</div></div></div>
 
<ul id="sortable">
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
<li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>
<script>
$(function() {
$( "#sortable" ).sortable();
$( "#sortable" ).disableSelection();
});
</script>
