/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

a {
  	text-decoration:none;
}
.left-menu {
    padding-top: 5px;
//    background: #DFE8F6;
}
.left-menu a:link, .left-menu a:visited {
    background: url("menu_shortcuts_bg.png") repeat scroll 0 0 transparent;
    display: block;
    height: 60px;
    margin: 0 auto 5px;
    overflow: hidden;
    text-align: center;
    width: 60px;
}
.left-menu a:hover, .left-menu a:active {
    background: url("menu_shortcuts_bg_hover.png") repeat scroll 0 0 transparent;
    color: #15428B;
}
.left-menu a.selected {
    background: url("menu_shortcuts_bg_hover.png") repeat scroll 0 0 transparent;
    color: #15428B;
    cursor: default;
}
.left-menu a .menu-icon {
    margin: 4px 2px 2px;  
}
.left-menu  .menu-text {
    font-size: 12px;
    color: #000000;   
}

.first, .second, .three, .four, .five {
    background-image:url(connect.png);
}
.logout {
    background-image:url(logout.png);
}
// feedback css
.hi {
    width: 50px;
    height: 72px;
    background-image: url(sprite.png);
    
    -webkit-animation: play .8s steps(10) infinite;
       -moz-animation: play .8s steps(10) infinite;
        -ms-animation: play .8s steps(10) infinite;
         -o-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}
#picsection { 
	text-align: center;
	margin: 0 auto;
	width: 1000px;
	border:2px solid #a1a1a1;
	padding:10px 40px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.pic {
	border:2px solid #a1a1a1;
	padding:10px 40px; 
	background:#0099CC;
	width:300px;
	border-radius:25px;
    margin: 12px;
	height: 300px;
	display: inline-block;
	vertical-align: top;
 	position: relative;
  	/*Dirty IE Hack*/
  	zoom: 1;
  	*display: inline;
}

.picsmall {
	border:2px solid #a1a1a1;
	background:#0099CC;
	padding-top: 20px;
	width:340px;
	border-radius:25px;
    margin: 12px;
	height: 220px;
	display: inline-block;
	vertical-align: top;
 	position: relative;
  	/*Dirty IE Hack*/
  	zoom: 1;
  	*display: inline;
	 transform-style: preserve-3d;
  	-webkit-transition-duration: 400ms;
  	transition-duration: 400ms;
}


.picsmall div {
  	display: block;
   	position: absolute;
   	width: 100%;
   	height: 100%;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}
.picsmall .back {
  	-webkit-transform: rotateY( 180deg );
  	transform: rotateY(180deg);
}
.picsmall.flip {
  	-webkit-transform: rotateY(180deg);
  	transform: rotateY(180deg);
}
.piclarge {
	border:2px solid #a1a1a1;
	background:#0099CC;
	padding-top: 20px;
	width:340px;
	border-radius:25px;
    margin: 12px;
	height: 360px;
	display: inline-block;
	vertical-align: top;
 	position: relative;
  	/*Dirty IE Hack*/
  	zoom: 1;
  	*display: inline;
	 transform-style: preserve-3d;
  	-webkit-transition-duration: 400ms;
  	transition-duration: 400ms;
}

.piclarge div {
  	display: block;
   	position: absolute;
   	width: 100%;
   	height: 100%;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
}
.piclarge .back {
  	-webkit-transform: rotateY( 180deg );
  	transform: rotateY(180deg);
}
.piclarge.flip {
  	-webkit-transform: rotateY(180deg);
  	transform: rotateY(180deg);
}

#notice {
	text-align: center;
	margin: 10px auto;
	width: 900px;
	border:2px solid #a1a1a1;
	padding:10px 40px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

// one column emphasis
#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
#one-column-emphasis th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
	width: 50%;
	text-align: center;
}
#one-column-emphasis td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.oce-first
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}
#pattern-style-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0 auto;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	background: url('patternb.png');
}
#pattern-style-b thead tr
{
	background: url('patternb-head.png');
}
#pattern-style-b th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #039;
}
#pattern-style-b td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#pattern-style-b tbody tr:hover td
{
	color: #339;
	background: #cdcdee;
}

#one-column-emphasis-rank
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0 auto;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
#one-column-emphasis-rank th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}
#one-column-emphasis-rank td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}
.oce-first-rank
{
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
#one-column-emphasis-rank tr:hover td
{
	color: #339;
	background: #eff2ff;
}
/* add delete edit search icon */ 
.add { background-image: url(shareicon/user_add.png) !important; background-repeat: no-repeat; }

.delete { background-image: url(shareicon/user_delete.png) !important; background-repeat: no-repeat; }

.edit { background-image: url(shareicon/user_edit.png) !important; background-repeat: no-repeat; }

.search { background-image: url(shareicon/zoom.png) !important; background-repeat: no-repeat; }



.x-form-code-right {
	position: absolute;
	left: 324px;
	top: 86px;
	cursor:pointer;
}

.download {
	cursor: pointer;
}
