<!DOCTYPE html>
<html>
<head>
  <title>Header</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "login/login" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
